
# This script was referring to the site here.
# - http://jablonskis.org/2011/howto-log-bash-history-to-syslog/index.html
# output syslog after command exec.
PROMPT_COMMAND='history -a >(tee -a ~/.bash_history | logger -t "$USER[$$] $SSH_CONNECTION")'